* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

.container {
    width: 700px;
    margin: 0 auto;
}

.slide_wrapper {
    position: relative;
    width: 660px;
    margin: 0 auto;
    padding-top: 200px;
    overflow: hidden;
}
.slides {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}
.slides.animated {
    transition: 0.5s ease-out;
}
.slides li {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #ccc;
}
.controls {
    text-align: center;
    margin-top: 50px;
}
.controls span {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

@media (max-width:700px) {
    .container {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .slide_wrapper {
        width: 100%;
    }
}